<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="asserts/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}"
	rel="stylesheet"></link>
<script type="text/javascript"
	th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/all.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery-validation/jquery.validate.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery-validation/localization/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/script/common.js}"></script>
<script th:src="@{/script/user.js}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"></link>

<link type='text/css' rel="stylesheet"
	th:href="@{/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" />
<script
	th:src="@{/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
<script
	th:src="@{/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<script>
 	$(function() {
		//设置时间格式
		$("#productSaledTime,#productLowProfitDate,#productEffectDate").datetimepicker({
			format : 'yyyy-mm-dd HH:ii:ss',
			language : 'zh-CN',
			minView : 2
			
		}); 
		/*  //给分页添加点击事件,使每次点击页码都提交高级查询表单
		 $(".pages").click(function() {
		  $("#getpage").val($(this).attr("thispage"));//设置隐藏域中的value,this为点击的页码;
		  $("#selectInfo").submit(); //selectInfo是表单id,提交表单;
		 });
		 */
		
		 $("#Success").click(function() {
				$("#formone").ajaxSubmit(function(data) {
					if(data.success){
						$.messager.popup("添加成功");
						location.href = "/addProduct";
					} else {
						$.messager.popup("添加失败");
					}
				})
		 });
	});
	
</script>
</head>

<body>
	<header>
	<div th:replace="common/headpart :: top"></div>
	</header>
	<!--个人中心-->
	<div class="wrapper wbgcolor">
		<div class="w1200 personal">
			<div th:replace="enterprise/leftmenu :: left (activeUri = 'addProduct')"></div>
			<div class="personal-main">
				<div class="personal-money"  style="padding-top: 30px">
				<!--  -->
					<h3>
						<i>产品提交</i>
					</h3>
					<form id="formone" name="form" method="post" action="addProductList">
						<div class="form_lb" style="width:500px;height: 60px;">
							<label>企业账号:</label>
							<input type="text" style="height: 35px;width: 240px;" class="form-control1" name="businessid"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入产品名称';}">
						</div>
						<div class="form_lb"  style="width:500px;height: 60px;">
							<lable>产品名称:</lable>
							<input type="text" style="height: 35px;width: 240px;" class="form-control1" name="productName"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入产品名称';}">
						</div>
						<div class="form_lb clearfix"  style="width:500px;height: 60px;">
							<lable>产品额度:</lable>
							<input type="text" style="height: 35px;width: 240px;" class="form-control1" name="productQuota" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入产品额度';}">
							
						</div>
						<div class="form_lb" style="width:500px;height: 60px;">
							
							<lable>产品类型:</lable>
							<select name="productType" style="width: 180px; height: 30px;" class="form-control1">
								<option value="0">活期</option>
								<option value="1">定期</option>
								<!-- <option value="0" th:value="${Product.productType == 0}">活期</option>
								<option value="1" th:value="${Product.productType == 1}">定期</option> -->
							</select>
						</div>
						<div class="form_lb" style="width:500px;height: 60px;">
							<lable>预期收益率:</lable>
							<input type="text" style="height: 35px;width: 240px;" class="form-control1" name="productProfit"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入预期收益率';}">
						</div>
						<div class="form_lb" style="width:500px;height: 60px;">
							<lable>投资币种:</lable>
							<select name="select_type" style="width:180px;height:30px" class="form-control1"><option>人民币</option></select>
						</div>
						<div class="form_lb" style="width:500px;height: 60px;">
							<lable>产品经理人:</lable>
							<input type="text" style="height: 35px;width: 240px;" class="form-control1" name="productManager" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入产品经理人';}">
						</div>
						<div class="form_lb" style="width:500px;height: 60px;">
							<lable>可否赎回:</lable>
							<select name="productBack" style="width:180px;height:30px" class="form-control1">
								<option value="0">可赎回</option>
								<option value="1">不可赎回</option>
							</select>
						</div>
						<div class="form_lb" style="width:500px;height: 60px;">
							<label>起售金额:</label>
							<input type="text" style="height: 35px;width: 240px;" class="form-control1" name="productLowQuota"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入起售金额';}">
						</div>
						
						<div class="form_lb" style="width:500px;height: 60px;">
							<lable>收益方式:</label>
							<select name="productProfitType" style="width:180px;height:30px" class="form-control1">
								<option value="0">日结</option>
								<option value="1">期结</option>
							</select>
							<!-- <input type="text" class="form-control1" name="productProfitType" value="收益方式" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入收益方式';}"> -->
						</div>
						
						<div class="form_lb" style="width:500px;height: 60px;">
							<lable>最短收益生效日:</lable>
							<input type="text" style="height: 35px;width: 240px;" class="form-control1" id="productLowProfitDate" name='productLowProfitDate' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入最短收益生效日';}">
						</div>
						
						<div class="form_lb"style="width:500px;height: 60px;" >
							<lable>风险等级:</lable>
							<select name="productProfitType" style="width:180px;height:30px" class="form-control1">
								<option value="1">保本保收</option>
								<option value="2">保本不保收</option>
								<option value="3">不保本不保收</option>
							</select>
							<!-- <input type="text" class="form-control1" name="productRiskGrade" value="风险等级" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入风险等级';}"> -->
						</div>
						<div class="form_lb" style="width:500px;height: 60px;">
							<lable>预计发布时间:</lable>
							<input type="text" class="form-control1" id="productEffectDate" name='productEffectDate' >
						</div>
						<div class="form_lb" style="width:500px;height: 60px;">
							<lable>售完时间:</lable>
							<input type="text" class="form-control1" id="productSaledTime" name='productSaledTime' >
						</div>
						<div class="form_lb" style="width:500px;height: 60px;">
							<lable>结算周期:</lable>
							<input type="text" style="height: 35px;width: 240px;" class="form-control1" id="acountCycle" name='acountCycle' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入结算周期';}" >
						</div>
						<div class="form_lb" style="width:500px;height: 60px;">
							<input type="checkbox" name="" value=""/>
							 <span>我已阅读并同意橘子理财在线的<a href=""><span style="color:#29A7E1;">《服务条款》</span></a> </span>
						</div>
						<div class="form_lb" style="width:500px;height: 60px;">
							<button class="btn btn-info " type="button" data-toggle="modal" data-target="#ifSuccessModal" >提交</button>
						</div>
					</form>
				</div>
			</div>
			
			<!-- 模态框 -->
			<div class="modal fade" id="ifSuccessModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="exampleModalLabel">友情提示</h4>
						</div>
						<div class="modal-body">
							<span style="font-size:20px;color:red;">提交后不可更改,确定提交数据?</span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" id="Success">确定</button>
						</div>
					</div>
				</div>
			</div>
			
	});
			<div class="clear"></div>
		</div>
	</div>
	<!--网站底部-->
	<div th:replace="common/footpart :: foot"></div>
</body>
</html>
