<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="asserts/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}"
	rel="stylesheet"></link>
<script type="text/javascript"
	th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/all.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery-validation/jquery.validate.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery-validation/localization/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/script/common.js}"></script>
<script th:src="@{/script/user.js}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"></link>
<script src="script/jquery.datetimepicker.js" type="text/javascript"></script>
<script src="script/datepicker.js" type="text/javascript"></script>
<link type='text/css' rel="stylesheet"
	th:href="@{/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" />
<script
	th:src="@{/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
<script
	th:src="@{/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
</head>

<body>
	<script>
		$(function() {
			//设置时间格式
			$("#start,#end").datetimepicker({
				format : 'yyyy-mm-dd',
				language : 'zh-CN',
				minView : 2,
				endDate : new Date()
			});
			//给分页添加点击事件,使每次点击页码都提交高级查询表单
			$(".pages").click(function() {
				$("#getpage").val($(this).attr("data"));//设置隐藏域中的value,this为点击的页码;
				$("#productListform").submit(); //selectInfo是表单id,提交表单;
			});

		})
	</script>
	<header>
	<div th:replace="common/headpart :: top"></div>
	</header>
	<!--个人中心-->
	<div class="wrapper wbgcolor">
		<div class="w1200 personal">
			<div
				th:replace="enterprise/leftmenu :: left (activeUri = '@{/productList}')"></div>
			<div class="personal-main">
				<div class="personal-money" style="padding-top: 30px">
					<h3>
						<i>产品列表</i>
					</h3>
					<form id="productListform" name="productListform" method="post" action="productList">
						<div class="money-choose">
							<span style="padding-left: 10px; padding-right: 10px;">产品状态</span>
							<select name="productstate" style="width: 150px; height: 30px;">
								<option value="-1">全部</option>
								<option value="0" th:if="${condition.productstate==0}" selected="selected">未审核</option>
								<option value="0" th:if="${condition.productstate!=0}">未审核</option>
								<option value="1" th:if="${condition.productstate==1}" selected="selected">审核中</option>
								<option value="1" th:if="${condition.productstate!=1}">审核中</option>
								<option value="2" th:if="${condition.productstate==2}" selected="selected">已审核</option>
								<option value="2" th:if="${condition.productstate!=2}">已审核</option>
								<option value="3" th:if="${condition.productstate!=3}">待发行</option>
								<option value="3" th:if="${condition.productstate==3}" selected="selected">待发行</option>			
								<option value="4" th:if="${condition.productstate!=4}">发行中</option>
								<option value="4" th:if="${condition.productstate==4}" selected="selected">发行中</option>
								<option value="5" th:if="${condition.productstate!=5}">已售完</option>
								<option value="5" th:if="${condition.productstate==5}" selected="selected">已售完</option>
								<option value="6" th:if="${condition.productstate!=6}">已过期</option>
								<option value="6" th:if="${condition.productstate==6}" selected="selected">已过期</option>
								
								
								<input type="hidden" name="pageindex" th:value="${1}"
								id="getpage" />
								
							</select>

							<button
								class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-sx">
								<span class="ui-button-text ui-c">筛选</span>
							</button>
							<!-- <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-dc"><span class="ui-button-text ui-c">导出</span></button> -->
						</div>
						<span id="form:dataTable">
							<div class="personal-moneylist">
								<!-- <div class="pmain-contitle">
									<span class="pmain-title1 fb">产品流水号</span> <span
										class="pmain-title2 fb">产品名称</span> <span
										class="pmain-title3 fb">状态</span> <span
										class="pmain-title4 fb">产品经理人</span> <span
										class="pmain-title5 fb">操作</span>
								</div> -->
								<table>
									<thead>
										<tr class="pmain-contitle">
											<td style="width: 120px; padding-left: 30px;">产品流水号</td>
											<td style="width: 120px; padding-left: 30px;">产品名称</td>
											<td style="width: 120px; padding-left: 30px;">状态</td>
											<td style="width: 120px;">产品经理人</td>
											<td style="width: 120px; padding-left: 18px;">操作</td>
										</tr>
									</thead>
									<tbody>
										<tr th:each="p : ${pageInfo.list}">
											<td style="width: 120px; padding-left: 20px;"
												th:text="${p.productId}">111</td>
											<td style="width: 120px; padding-left: 20px;"
												th:text="${p.productName}"></td>
											<td style="width: 120px; padding-left: 20px;"
												th:if="${p.productState==0}">待审核</td>
											<td style="width: 120px; padding-left: 20px;"
												th:if="${p.productState==1}">审核中</td>
											<td style="width: 120px; padding-left: 20px;"
												th:if="${p.productState==2}">已审核</td>
											<td style="width: 120px; padding-left: 20px;"
												th:if="${p.productState==3}">待发行</td>
											<td style="width: 120px; padding-left: 20px;"
												th:if="${p.productState==4}">发行中</td>
											<td style="width: 120px; padding-left: 20px;"
												th:if="${p.productState==5}">已售完</td>
											<td style="width: 120px; padding-left: 20px;"
												th:if="${p.productState==6}">已过期</td>
											<td style="width: 120px; padding-left: 20px;"
												th:text="${p.productManager}"></td>
											<td style="width: 120px; padding-left: 20px;"><a
												th:href="'productinfobyid?productId='+${p.productId}">详情</a></td>
										</tr>
									</tbody>
									<tfoot>
										<tr height='30px'>
											<td colspan='8' align='center'>
												<!-- 当前页为第一页时,首页和上一页按钮禁用 --> <span class="disabled"
												th:if="${pageInfo.isFirstPage}"><a href="#">首页</a></span> <span
												class="disabled" th:if="${pageInfo.isFirstPage}"><a
													href="#">上一页</a></span> <span th:unless="${pageInfo.isFirstPage}"><a
													href="javascript:void(0);" class="pages" th:data="1">首页</a></span>
												<span th:unless="${pageInfo.isFirstPage}"><a
													href="javascript:void(0);" class="pages"
													th:data="${pageInfo.prePage}">上一页</a></span> <th:block
													th:each="nav : ${pageInfo.navigatepageNums}">
													<!--如果是当前页，class属性为curPage，且无法跳转-->
													<span th:if="${nav==pageInfo.pageNum}" class="curPage"><a
														href="javascript:void(0)" th:text="${nav}"></a></span>
													<span th:if="${nav!=pageInfo.pageNum}"><a
														href="javascript:void(0);" th:text="${nav}" class="pages"
														th:data="${nav}"></a></span>
												</th:block> <!-- 当前页为最后一页时,下一页和最后一页按钮禁用 --> <span class="disabled"
												th:if="${pageInfo.isLastPage}"><a href="#">下一页</a></span> <span
												class="disabled" th:if="${pageInfo.isLastPage}"><a
													href="#">最后一页</a></span> <span th:unless="${pageInfo.isLastPage}"><a
													href="javascript:void(0);" class="pages"
													th:data="${pageInfo.nextPage}">下一页</a></span> <span
												th:unless="${pageInfo.isLastPage}"><a
													href="javascript:void(0);" class="pages"
													th:data="${pageInfo.pages}">最后一页</a></span>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</span>
					</form>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!--网站底部-->
	<div th:replace="common/footpart :: foot"></div>
</body>
</html>
