<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>	
<script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
<script type="text/javascript"  th:src="@{/script/jquery.min.js}"></script>
<script type="text/javascript"  th:src="@{/js/all.js}"></script>

</head>

<body onload="init()">
<div class="gy_box">
	<!-- header start -->
	<header>
		<div th:replace="common/headpart :: top"></div>
	</header>
	<!-- header end -->
	<div id="gy_bargain_red_bag">
		<div class="px1000 gy_bargain_red_bagsd" >
			 <div class="gy_bargain_red_bag_div">
				<div class="gy_bargain_red_bag_mover">
					<p class="gy_bargain_red_bag_bfb">
						<span class="gy_bargain_red_bag_bfs">11.53</span>
						<span class="gy_bargain_red_bag_bfh">%</span>	
					</p>
					<p class="gy_bargain_red_bag_one">平均年化收益率</p>
					<p class="gy_bargain_red_bag_two">
						<span>
							<img src="/images/gy_bargain_red_bag_sy.png">
						</span>
						近<b style="font-size:18.79px;">40</b>倍银行活期存款收益
					</p>
					<p class="gy_bargain_red_bag_three">
						<b style="font-size:21.39px;"><a style="color:#fff;" href="">注册领红包</a></b>
					</p>
					<p class="gy_bargain_red_bag_four">
						<span>已注册帐号？</span><span><a class="gy_redbag_dl" href="login.html">立即登录</a></span>
					</p>
				</div>
			</div>
			<div class="gy_bargain_red_bag_opacity">
				
			</div>
		</div>
	</div>
	
	<script>
		function init(){
			setInterval("changeImg()",2000);
		}
		var i=1;
		function changeImg(){
			i++;
			document.getElementById("lunbotu").src="/images/lunbotu"+i+".jpg";
			if(i==5){
				i=0;
			}
		}
	</script>
	
	<div>
		<img id="lunbotu"   style="width: 1349px;margin-left: 100px;" src="/images/lunbotu1.jpg"  />
	</div>
	
		<!-- <div class="flexslider">
			<ul class="slides">
			    <li style="background:url(/images/gy_adver_viwepager_bg1.png) 50% 0 no-repeat;"></li>
				<li style="background:url(/images/banner3.jpg) 50% 0 no-repeat;"></li>
				<li style="background:url(/images/gy_adver_viwepager_bg1.png) 50% 0 no-repeat;"></li>
				<li style="background:url(/images/banner3.jpg) 50% 0 no-repeat;"></li>
			</ul>
		</div> -->


	<div id="gy_bargain_sum">
		<div class="px1000 gy_bargain_sum_main">
			<div class="gy_bargain_sum_main_mover">
				<span class="gybargain_summain_dv">成交总金额<span class="gy_bargain_sum_sz"><b>4,210,214,02</b></span>万元</span>
				<span class="gy_bargain_sum_jg">|</span>
				<span class="gybargain_summain_dv">成交总金额<span class="gy_bargain_sum_sz"><b>4,210,214,02</b></span>万元</span>
				<span class="gy_bargain_sum_jg">|</span>
				<span class="gybargain_summain_dv">累计投资<span class="gy_bargain_sum_sz"><b>12491</b></span>万元</span>
				<span class="gy_bargain_sum_jg">|</span>
				<span class="gybargain_summain_dv">累计为投资人赚取<span class="gy_bargain_sum_sz"><b>12491.00</b></span>万元</span>
			</div>
		</div>
	</div>
		

	<div id="gy_guide_help">
		<div class="px1000 clearfix">
			<div class="fl gy_guide_help_l"><a href=""><img src="/images/gy_guide_help_zl.png"></a></div>
			<div class="fl gy_guide_help_r" ><img src="/images/gy_guide_help_zlxx.png"></div>
		</div>
	</div>
	<!--1-->
	<div id="gy_treasure_kind">
		<div class="gy_treasure_kind_main px1000 clearfix">
			<div class="gy_treasure_kind_pic">
				<div class="fl gy_treasure_kind_div" id="gy_treasure_kinds_o1"><a href="">
					<div class="gy_treasure_kind_bgpic"></div>
					<p class="gy_treasure_kind_bigfont" id="gy_treasure_kind_bigfont1">政府支持</p>
					<p>成为理财人，通过主动投标</p></a>
				</div>
				<div class="fl gy_treasure_kind_div" id="gy_treasure_kinds_o2"><a href="">
					<div class="gy_treasure_kind_bgpic2"></div>
					<p class="gy_treasure_kind_bigfont" id="gy_treasure_kind_bigfont2">实力担保</p>
					<p>成为理财人，通过主动投标</p></a>
				</div>
				<div class="fl gy_treasure_kind_div" id="gy_treasure_kinds_o3"><a href="">
					<div class="gy_treasure_kind_bgpic3"></div>
					<p class="gy_treasure_kind_bigfont" id="gy_treasure_kind_bigfont3">本息保障</p>
					<p>成为理财人，通过主动投标</p></a>
				</div>
				<div class="fl gy_treasure_kind_div" id="gy_treasure_kinds_o4"><a href="">
					<div class="gy_treasure_kind_bgpic4"></div>
					<p class="gy_treasure_kind_bigfont" id="gy_treasure_kind_bigfont4">期限灵活</p>
					<p>成为理财人，通过主动投标</p></a>
				</div>
				<div class="fl gy_treasure_kind_div" id="gy_treasure_kinds_o5"><a href="">
					<div class="gy_treasure_kind_bgpic5"></div>
					<p class="gy_treasure_kind_bigfont" id="gy_treasure_kind_bigfont5">资金托管</p>
					<p>成为理财人，通过主动投标</p></a>
				</div>
			</div>
		</div>
	</div>
	
		<div th:each="p : ${productPageInfo.list}">
				<div class="gy_guide_index_xzk_bid_rit"
					id="gy_guide_index_xzk_bid_rit" style="display: block;margin-left: 170px;width: 1010px;">
					<div class="clearfix gy_guide_index_xzkbid_one" style="width: 1000px;margin-left: 120px;">
						<span class="fl gy_guide_index_xzkbi1" id="gy_guide_index_xzkbi5">
							<p>
								<span style="font-size: 14px; color: #808080;"
									th:text="${p.productName}"></span> <img
									th:src="@{/images/gy_guide_index_xzk_bid_ritre.png}" />
							</p>
							<p th:text="'产品ID:'+${p.productId}"></p>
						</span> <span class="fl gy_guide_index_xzkbi2" id="gy_guide_index_xzkbi5" style="width: 124px;">
							<p>
								<span style="font-size: 25px; color: #FC8026;margin-left: 30px;"
									th:text="${p.productProfit}"></span><span
									style="font-size: 18px; color: #FC8026;">%</span>
							</p>
							<p style="margin-left: 20px;">预期年化收益率</p>
						</span> <span class="fl gy_guide_index_xzkbi3" id="gy_guide_index_xzkbi5">
							<p>
								<span style="font-size: 25px; color: #FC8026;"
									th:text="${p.acountCycle}">4-360</span><span
									style="font-size: 18px; color: #FC8026;">天</span>
							</p>
							<p>收益周期</p>
						</span> <span class="fl gy_guide_index_xzkbi4" id="gy_guide_index_xzkbi5"
							style="text-align: center;">
							<p th:if="${p.productRiskGrade}==1">风险说明：本金保证收益保证</p>
							<p th:if="${p.productRiskGrade}==2">风险说明：本金保证收益浮动</p>
							<p th:if="${p.productRiskGrade}==3">风险说明：本金/收益浮动</p>
							<div class="gy_treasur_bg1">
								<div class="gy_treasur_bg2" style="width: 70%;"
									th:style="'width:'+(${p.productSaledQuota}/${p.productQuota}*146)+'px;'"></div>
								<div class="gy_treasur_bg2"></div>
							</div>

							<p>
								<span style="color: #000;" th:text="${p.productSaledQuota}+'元/'"></span><span
									th:text="${p.productQuota}+'元'"></span>
							</p>
						</span> <span class="fl gy_guide_index_xzkbi5" id="gy_guide_index_xzkbi5">
							<p style="margin-left: 50px;">
								<a style="font-size: 18px; color: #fff;" th:href="'buyProduct?productId='+${p.productId}" id="buyProduct">立即投标</a>
							</p>
						</span>
					</div>
				</div>
			</div>

	<div id="gy_guide_stater_notice">
		<div class="px1000">
			<div class="gy_guide_staten_xk clearfix">
						<div class="gy_guide_staten_xkds1 clearfix">
							<span class="gy_guide_staten_ggdt fl" id="gy_guide_sarter1" onmouseover="guideone()">公司公告</span>
							
							<span class="gy_guide_staten_gdd fr"  ><a th:href="@{/systemInformation}">更多公告</a></span>
						</div>
					
						<div class="fl gy_guide_staten_xkds2" id="gy_guide_staten_xkds2">
							<div>
								<ul class="gy_guide_staten_main1 fl"  th:each="notice: ${noticePageInfo.list}">
									<li><a href="">
										<span><img src="/images/gy_guide_stater_notice_bj.png"></span>
										<span><a th:href="@{noticeInfo/}+${notice.nId}"  th:text="${notice.title}"></a></span>
										<span><img src="/images/gy_guide_stater_notice_new.png"></span>
										<span class="fr">06/14</span>
									</a></li>
								</ul>
								<!-- <ul class="gy_guide_staten_main2 fl">
									<li><a href="">
										<span><img src="/images/gy_guide_stater_notice_bj.png"></span>
										<span>大众富裕阶层青睐互联网金融 e租宝成...</span>
										<span><img src="/images/gy_guide_stater_notice_new.png"></span>
										<span class="fr">07/22</span>
									</a></li>
									<li><a href="">
										<span><img src="/images/gy_guide_stater_notice_bj.png"></span>
										<span>大众富裕阶层青睐</span>
										<span><img src="/images/gy_guide_stater_notice_new.png"></span>
										<span class="fr">07/22</span>
									</a></li>
									<li><a href="">
										<span><img src="/images/gy_guide_stater_notice_bj.png"></span>
										<span>大众富裕阶层青睐互联网金融</span>
										<span class="fr">07/22</span>
									</a></li>
								</ul> -->
							</div>
						</div>
						<div class="fl gy_guide_staten_xkds5" id="gy_guide_staten_xkds5" style="display:none">
							<div >
								11111
							</div>
						</div>
				</div>
			</div>
		</div>
	
	



	<div id="gy_guide_news_main">
		<div class="px1000 gy_guide_news_main_cp">
			<div class="gy_guide_news_macp clearfix">
				<span class="gy_guide_news_macp1 fl">媒体报道</span>
				<span class="gy_guide_news_macp2 fr"><a href="">更多>></a></span>
			</div>
			<div class="clearfix">
				<div class="fl gy_guide_news_macp3">
					<img src="/images/gy_guide_news_main_cp1.png">
					<p class="gy_guide_news_macp_m">6月28日，P2P平台“融圣360”牵手民间金融平<br>台“实实在在”战略投资签约仪式在长沙举行。<br>民间金融平台实实在在将投资1000万入股融圣<br>360......</p>
					<p class="gy_guide_news_macp_r"><a href="">更多</a></p>
				</div>
				<div class="fl gy_guide_news_macp3">
					<img src="/images/gy_guide_news_main_cp2.png">
					<p class="gy_guide_news_macp_m" id="gy_guide_news_macp_m">6月28日，P2P平台“融圣360”牵手民间金融平<br>台“实实在在”战略投资签约仪式在长沙举行。<br>民间金融平台实实在在将投资1000万入股融圣<br>360......</p>
					<p class="gy_guide_news_macp_r"><a href="">更多</a></p>
				</div>
				<div class="fl gy_guide_news_macp3">
					<img src="/images/gy_guide_news_main_cp3.png">
					<p class="gy_guide_news_macp_m">6月28日，P2P平台“融圣360”牵手民间金融平<br>台“实实在在”战略投资签约仪式在长沙举行。<br>民间金融平台实实在在将投资1000万入股融圣<br>360......</p>
					<p class="gy_guide_news_macp_r"><a href="">更多</a></p>
				</div>
			</div>
		</div>
	</div>

	
	<div id="gy_guide_end_main">
		<div class="px1000 gy_guide_end_main_cp">
			<a href=""><img src="/images/gy_guide_end_main_cp1.png"></a>
			<a href=""><img src="/images/gy_guide_end_main_cp2.png"></a>
			<a href=""><img src="/images/gy_guide_end_main_cp3.png"></a>
			<a href=""><img src="/images/gy_guide_end_main_cp4.png"></a>
			<a href=""><img src="/images/gy_guide_end_main_cp5.png"></a>
		</div>
	</div>


	<div th:replace="common/footpart :: foot"></div>

</div>
</body>
</html>
