<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册</title>
<link href="asserts/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
<script type="text/javascript"
	th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/all.js}"></script>
<script type="text/javascript" th:src="@{/script/common.js}"></script>
<script type="text/javascript" th:src="@{/script/user.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery-validation/jquery.validate.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery-validation/localization/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery.form.js}"></script>
<script type="text/javascript">
	$(function() {
		$("#sendVerifyCode").click(function() {
			var _this = $(this);
			_this.attr("disabled", true); //禁用
			$.ajax({
				url : "sendVerifyCode",
				type : "post",
				dataType : "json",
				data : {
					tel : $("#tel").val()
				},
				success : function(data) {
					if (data.success) {
						//设置输入验证码的时间为60s
						var sec = 60;
						var timer = setInterval(function() {
							sec--;
							if (sec > 0) {
								_this.text(sec + "秒后重新发送验证码");
							} else {
								clearInterval(timer);
								_this.attr("disabled", false);
								_this.text("重新发送验证码");
							}
						}, 1000);
					} else { //失败
						_this.attr("disabled", false);
						$.messager.popup(data.msg);
					}
				}
			});
		});
		
		//手机号码的验证, 非空, 格式
			/* jQuery.validator.addMethod("isPhone", function(value, element) {
				var length = value.length;
				var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
			},  "请填写正确的手机号码");//可以自定义默认提示信息*/
		$("#registerForm").validate({
			rules : {
				consumerName : {
					required : true,
					rangelength : [ 4, 16 ],
					remote : {
						url : "/checkConsumerName",
						type : "post"
					}
				},
				password : {
					required : true,
					rangelength : [ 4, 20 ]
				},
				repsw : {
					required : true,
					equalTo : "#password"
				},
				tel : {
		            required : true,
		            minlength :11,
		            maxlength :11,
		            remote : {
						url : "/checkTel",
						type : "post"
					}
		           // isPhone : true
		        }
			},
			messages : {
				consumerName : {
					required : "请填写用户名!",
					rangelength : "用户名长度必须在{0}-{1}之间!",
					remote : "该用户名已经存在!"
				},
				password : {
					required : "请填写密码!",
					rangelength : "密码长度必须在{0}-{1}之间!"
				},
				repsw : {
					required : "请再次确认密码",
					equalTo : "两次密码不一致"
				},
				tel : {
		            required : "请输入手机号",
		            minlength : "确认手机号码为11位",
		            maxlength : "确认手机号码为11位",
		            remote : "该手机号已注册!"
		            //isPhone : "请正确填写您的手机号码"
		        }
			},
			submitHandler : function(form) {
				$("#registerForm").ajaxSubmit({
					dataType : "json",
					success : function(data) {
						if (data.success) {
							$.messager.model = {
								ok : {
									text : "关闭",
									classed : 'btn­default'
								},
								cancel : {
									text : "取消",
									classed : 'btn­error'
								}
							};
							$.messager.confirm("提示", "注册成功", function() {
								//跳转到登录页面
								location.href = "/index";
							});

						} else {
							$.messager.popup(data.msg)
						}
					},
					resetForm : true
				});
			},
			errorClass : "text-danger",
			highlight : function(element) {
				$(element).closest("div.form-group").addClass("has-error");
			},
			unhighlight : function(element) {
				$(element).closest("div.form-group").removeClass("has-error");
			}
		});
			
		$("#emailcheckform").validate({
			rules : {
				businssemail : {
					required : true,
					rangelength : [ 8, 24 ]
				},
				emailcheckcode : {
					required : true
				}
			},
			messages : {
				businssemail : {
					required : "请填写您的邮箱地址",
					rangelength : "邮箱长度应在8-24位之间",
				},
				emailcheckcode : {
					required : " 请填写验证码!",
				}
			},
			errorClass : "text-danger",
			highlight : function(element) {
				$(element).closest("div.form-group").addClass("has-error");
			},
			unhighlight : function(element) {
				$(element).closest("div.form-group").removeClass("has-error");
			}
		});
		

 		 $("#sendemailcode").click(function() {
			   var _this = $(this);
			   _this.attr("disabled", true); //禁用
			   $.ajax({
			    url : "emailcode",
			    type : "post",
			    dataType : "json",
			    data : {
			    	businssemail : $("#businssemail").val() 
			    },
			    success : function(data) {
			     if (data.success) {
			      //设置输入验证码的时间为60s
			      var sec = 60;
			      var timer = setInterval(function() {
			       sec--;
			       if (sec > 0) {
			        _this.text(sec+"秒后可用");
			       } else {h
			        clearInterval(timer);
			        _this.attr("disabled", false);
			        _this.text("重发验证码");
			       }
			      }, 1000);
			     } else { //失败
			      _this.attr("disabled", false);
			      $.messager.popup(data.msg);
			     }
			    } 
	 }); 
		})
	})
</script>
</head>
<body>
	<div class="gy_box">
		<!-- header start -->
		<header>
			<div th:replace="common/headpart :: top"></div>
		</header>
		<div id="gy_step">
			<div class="gy_step_main px1000 clearfix">
				<div class="gy_step_main_p fl">
					<p class="gy_step_proe1">1</p>
					<p style="color: #29A7E1; padding-top: 10px;">填写用户信息</p>
				</div>
				<div class="list_press_wper fl">
					<div class="list_press"></div>
				</div>
				<div class="gy_step_main_p fl">
					<p class="gy_step_proe2">2</p>
					<p style="padding-top: 10px;">信息验证</p>
				</div>
				<div class="list_press_wper fl">
					<div class="list_press"></div>
				</div>
				<div class="gy_step_main_p fl">
					<p class="gy_step_proe3">3</p>
					<p style="padding-top: 10px;">注册成功</p>
				</div>
			</div>
		</div>

		<div id="form_main" class="px1000 clearfix">
			<div class="form_main_grjg_xx">
				<span id="form_main_gr">个人注册</span> <span id="form_main_jg">机构注册</span>
			</div>
			<div>
				<div id="login1" class="left_form fl">
					<form id="registerForm" action="/personalRegister" method="post">
						<div class="form_lb">
							<lable>用户名:</lable>
							<input type="text" class="form-control1" id="consumerName"
								name="consumerName" placeholder="请输入用户名" />
						</div>
						<div class="form_lb">
							<lable>手机号码:</lable>
							<input type="text" class="form-control1" id="tel" name="tel"
								placeholder="请输入手机号码" size="" />
						</div>
						<div class="form_lb">
							<label>密码:</label> <input type="password" class="form-control1"
								id="password" name="password" placeholder="请输入密码" />
						</div>
						<div class="form_lb">
							<label>确认密码:</label> <input type="password" class="form-control1"
								id="repsw" name="repsw" placeholder="请确认密码" />
						</div>

						<div class="form_lb">
							<label>验证码：</label> <input type="text" class="form-control1"
								style="width: 210px;" form-control1" id="verifyCode"
								name="verifyCode" placeholder="请输入手机验证码" />
							<button id="sendVerifyCode" class="btn btn-info">发送短信</button>
						</div>
						<div class="form_lb">
							<input type="checkbox" name="" value="" /> <span>我已阅读并同意橘子理财在线的<a
								href=""><span style="color: #29A7E1;">《服务条款》</span></a>
							</span>
						</div>
						<div class="form_lb">
							<button type="submit" class="btn btn-info btn-lg"
								style="width: 100px;">注册</button>
						</div>
					</form>
				</div>
				<div id="login2" class="left_form fl" style="display: none;">
					<form id="emailcheckform" action="emailcodecheckaction">
						<div class="form_lb">
								<lable>邮箱:</lable>
								<input id="businssemail" name="businssemail" type="email" class="form-control1" value="" />
							</div>
							<div class="form_lb">
								<label>验证码：</label> <input type="email" class="form-control1"
									style="width: 200px;" id="emailcheckcode" name="emailcheckcode"
									placeholder="请输入验证码" />
								<button type="button" id="sendemailcode" name="sendemailcode" class="btn btn-info">发送验证码</button>
							</div>
							<div class="form_lb" th:if="${isSuccess}">
								<lable style="color:red;">邮箱或验证码不匹配</lable>
							</div>
							<div class="form_lb">
								<div style="text-align: center;">
									<button type="submit" class="btn btn-info btn-lg"
										style="width: 100px;">注册</button>
								</div>
							</div>
						</form>

				</div>
			</div>
			<div class="right_pic fl">
				<div class="l_acc_dl">
					<span>已有帐号？<a href=""><span style="color: #29A7E1;">立即登录</span></a></span>
				</div>
				<p>
					<img th:src="@{/images/right_bg.jpg}" />
				</p>
			</div>
		</div>

		<div id="gy_guide_help">
			<div class="px1000 clearfix">
				<div class="fl gy_guide_help_l">
					<a href=""><img th:src="@{/images/gy_guide_help_zl.png}" /></a>
				</div>
				<div class="fl gy_guide_help_r">
					<img th:src="@{/images/gy_guide_help_zlxx.png}" />
				</div>
			</div>
		</div>

		<!--- footer start -->
		<!--网站底部-->
		<div th:replace="common/footpart :: foot"></div>
	</div>
</body>
</html>
