<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>产品列表</title>
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}" rel="stylesheet"></link>
<script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/all.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-validation/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-validation/localization/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/script/common.js}"></script>
<script th:src="@{/script/user.js}" type="text/javascript"></script>
<link type='text/css' rel="stylesheet" th:href="@{/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" />
<script th:src="@{/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
<title>产品详情</title>
<script type="text/javascript">
$(function(){
	$("#buyProduct").click(function() {
		location.href = "buyProduct";
	});
	
})
</script>
</head>
<body>
<div class="gy_box">
	<!-- header start -->
	<header>
		<div th:replace="common/headpart :: top"></div>
	</header>
	<!--产品 -->
	<div id="gy_guide_particulars_xzk">
		<div class="px1000">
			<div class="gy_guide_index_xzk_header" style="margin:20px 0;font-size:14px;">
				<img th:src="@{/images/gy_guide_index_xzk_picx.png}"/>
				<span style="color:#29A7E1;font-size:20px">产品详情:</span>
			</div>
		</div>
		<div class="px1000">
			<div class="gy_guide_particulars_information">
				<p class="gy_guide_particulars_information_header">项目信息</p>
				<div class="gy_guide_particulars_information_main clearfix">
						<div class="particulars_information_up" style="font-size: 20px;padding-left:30px;">项目名称：<span th:text="${product.productName}"></span>
							<input type="text" maxlength=""/>
						</div>
						<div class="particulars_information_down" style="font-size: 20px;padding-left:30px;">风险等级：
							<span th:if="${product.productRiskGrade}==1">保本保收</span>
							<span th:if="${product.productRiskGrade}==2">保本不保收</span>
							<span th:if="${product.productRiskGrade}==3">不保本不保收</span>
							<input type="text" maxlength=""/>
						</div>
						<div class="particulars_information_up" style="font-size: 20px;padding-left:30px;">所属企业：<span th:text="${product.businessName}"></span>
							<input type="text" maxlength=""/>
						</div>
						<div class="particulars_information_down" style="font-size: 20px;padding-left:30px;">可否赎回：<span th:text="${product.productBack}==0?可赎回:不可赎回"></span>
							<input type="text" maxlength=""/>
						</div>
				</div>
			</div>

			<div class="gy_guide_particulars_information">
				<p class="gy_guide_particulars_information_header">融资信息</p>
				<div class="gy_guituide_particulars_information_main" style="color:#aaaaaa">
					<div class="particulars_information_hone clearfix">
						<div style="width:685px;border-right:1px solid #E6E6E6;height: 105px;" class="fl"> 
							<div class="gy_guide_pain_bign_font fl" style="margin-left: 100px;">
								<p class="gy_guide_pain_big" th:text="${product.productQuota}"></p>
								<p class="gy_guide_pain_font">融资金额（元）</p>
							</div>
							<div class="gy_guide_pain_bign_font fl" style="border-left:2px solid #E6E6E6;margin-left: 55px;width: 322px;">
								<p class="gy_guide_pain_big" th:text="${product.productProfit}"></p>
								<p class="gy_guide_pain_font">预期收益率（百分比）</p>
							</div>
						</div>
						<div class="fl gy_guide_particulars_information_cp" style="width: 220px;margin-top: 20px;">
								<p class="gy_guide_pain_big" th:text="${product.productSaledQuota}"></p>
								<p class="gy_guide_pain_font">已售额度</p>
						</div>
					</div>
					<div class="particulars_information_htwo">
						<div style="width:685px;border-right:1px solid #E6E6E6;height: 150px;" class="fl">
							<div class="particulars_information_htwos_gtar" style="text-align:center">
								<p style="font-size: 20px;margin-top: 10px;margin-left: 230px;padding-top: 25px;width: 210px;">起投资金：<span th:text="${product.productLowQuota}"></span>元</p>
							</div>
							<div class="particulars_information_htwo_uhank">
								<span style="margin-left: 100px;">收益方式：<span th:text="${product.productProfitType}==0?'每日结算':'到期收益'"></span></span>
								<span style="margin-left: 60px;">收益生效日：<span th:text="${#dates.format(product.RevenueTime, 'yyyy-MM-dd')}"></span></span>
							</div>
						</div>
						<div class="gy_particulars_information_htwoad" id="">
							<div class="gy_particulars_information_htwoad_main" style="margin-top:20px;">
								<div class="gy_particulars_information_htwoad_mainfont">
									<button type="button" class="btn btn-info btn-lg" id="buyProduct" style="width: 200px;margin-top:30px;">立即买入</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!--- footer start -->
	<!--网站底部-->
	<div th:replace="common/footpart :: foot"></div>
</div>
</body>
</html>