<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>认证信息查看</title>
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}" rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"></link>
<script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-validation/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-validation/localization/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/uploadify/jquery.uploadify.js}"></script>
<script type="text/javascript" th:src="@{/script/common.js}"></script>
<script type="text/javascript" th:src="@{/script/user.js}"></script>
<script type="text/javascript" th:src="@{/js/all.js}"></script>

</head>
<body>
<header>
  <div th:replace="common/headpart :: top"></div>
</header>
<!--个人中心-->
<div class="wrapper wbgcolor">
	<div class="w1200 personal">
		<div th:replace="common/leftmenu :: left (activeUri = 'accountSettings')"></div>			
<script type="text/javascript">

</script>
	<div class="personal-main">
	<div class="personal-zhsz" style="padding-top: 30px">
		<div style="margin-top:30px;font-size:20px;padding:30px;"><p style="color:orange;">实名认证信息:</p></div>
		<table class="table table-striped" style="font-size:18px;margin-left:20px;">
			<tr>
				<th>&nbsp;用户名</th>
				<th th:text="${realAuthShow.consumerName}"></th>
			</tr>
			<tr>
				<th>真实姓名</th>
				<th th:text="${realAuthShow.name}"></th>
			</tr>
			<tr>
				<th>身份证号</th>
				<th th:text="${realAuthShow.idCard}"></th>
			</tr>
			<tr>
				<th>&nbsp;&nbsp;性别</th>
				<th th:text="${realAuthShow.sex}==0?'男':'女'"></th>
			</tr>
			<tr>
				<th>&nbsp;现住址</th>
				<th th:text="${realAuthShow.address}"></th>
			</tr>
		</table>

	<div class="clear"></div>
	</div>
	</div>
	</div>
</div>
<!--网站底部-->
<div th:replace="common/footpart :: foot"></div>
</body>
</html>
