<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}" rel="stylesheet"></link>
<script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/all.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-validation/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-validation/localization/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/script/common.js}"></script>
<script th:src="@{/script/user.js}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"></link>
<script src="script/jquery.datetimepicker.js" type="text/javascript"></script>
<script src="script/datepicker.js" type="text/javascript"></script>
<link type='text/css' rel="stylesheet" th:href="@{/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" />
<script th:src="@{/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<script>
	 $(function() {
	  //设置时间格式
	  $("#start,#end").datetimepicker({
	   format : 'yyyy-mm-dd',
	   language : 'zh-CN',
	   minView : 2,
	   endDate : new Date()
	  }); 
	 //给分页添加点击事件,使每次点击页码都提交高级查询表单
	   $(".pages").click(function() {
	   $("#getpage").val($(this).attr("data"));//设置隐藏域中的value,this为点击的页码;
	   $("#selectTradeList").submit(); //selectTradeList是表单id,提交表单;
	  });
	
	 })
</script>

<style>
	.pagination{
		width:600px;
		position: relative;
 		left: 200px;
	}

	.pagination li{
		width :60px;
		height: 20px;
		margin:0;
	}
	
	.pagination li a{
		width : 60px;
		height: 20px;
		padding:0;
		text-decoration: none;
	}
</style>
</head>

<body>
<header>
  <div th:replace="common/headpart :: top"></div>
</header>
<!--个人中心-->
<div class="wrapper wbgcolor">
  <div class="w1200 personal">
   	<div th:replace="common/leftmenu :: left (activeUri = 'tradeList')"></div>
   
    <div class="personal-main">
      <div class="personal-money" style="padding-top: 30px">
        <h3><i>交易记录</i></h3>
          <div class="money-choose">
        	<form id="selectTradeList" name="form" method="post"  th:action="@{/tradeList}">
				<span style=" padding-left: 10px; padding-right: 10px;">操作类型</span>
				
	          	<select  style="width:150px ; height: 30px;" name="tradeType" id="tradeType">
			       	<option value="5">全部</option>
	          		<th:block th:each="tradeType : ${tradeTypes}">
			         <option th:value="${tradeType}" th:switch="${tradeType}" th:if="${condition.tradeType==tradeType}"  selected="selected">
			          <p th:case="'0'">充值</p>
		              <p th:case="'1'">提现</p>
		              <p th:case="'2'">买入</p>
		              <p th:case="'3'">卖出</p>
			         </option>
			         <option th:value="${tradeType}" th:unless="${condition.tradeType==tradeType}"  th:switch="${tradeType}">
			          <p th:case="'0'">充值</p>
		              <p th:case="'1'">提现</p>
		              <p th:case="'2'">买入</p>
		              <p th:case="'3'">卖出</p>
			         </option>
			    	</th:block>
	          	</select>

		        <span style=" padding-left: 20px; padding-right: 10px;">查询时间</span>
	            <input type="text" id="start" name="start" readonly="readonly" style="width:100px ; height: 24px;" th:value="${#dates.format(condition.start, 'yyyy-MM-dd')}"/> — 
	            <input type="text" id="end" name="end" readonly="readonly" style="width:100px ; height: 24px;" th:value="${#dates.format(condition.end, 'yyyy-MM-dd')}"/>
	       		<!-- 在提交表单添加隐藏域 -->
	       		<input type="hidden" name="pageindex" th:value="${1}" id="getpage" />
	            <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-sx">筛选</button>
	         </form>
          </div>  
        
          <span id="form:dataTable">
          <div class="personal-moneylist" style="width: 820px;">
          <div class="pmain-contitle"> 
              <span class="pmain-title1 fb" >用户账号</span>
              <span class="pmain-title1 fb">交易时间</span>
              <span class="pmain-title1 fb" >产品编号</span>
              <span class="pmain-title1 fb">交易类型</span>
              <span class="pmain-title1 fb">交易金额</span>
              <span class="pmain-title1 fb">余额收支</span> 
              <span class="pmain-title1 fb"  style="padding-left: 20px;width: 80px;">订单状态</span>
           </div>
            <ul th:each="tradeList: ${pageInfo.list}">
              <li style="width:820px;">
              	  <span class="pmain-title1 pmain-height"  th:text="${tradeList.consumerId}" ></span>
              	  <span class="pmain-title1 pmain-height"  th:text="${#dates.format(tradeList.tradeTime, 'yyyy-MM-dd')}">2019-06-10</span>
              	  <span class="pmain-title2 pmain-height"  th:text="${tradeList.productId}"  style="margin-left: 15px;"></span>
	              <span class="pmain-title2 pmain-height"  th:switch="${tradeList.tradeType}"  style="margin-left: 25px;">
	              <p th:case="'0'">充值</p>
	              <p th:case="'1'">提现</p>
	              <p th:case="'2'">买入</p>
	              <p th:case="'3'">卖出</p></span>
	              <span class="pmain-title3 pmain-height" th:text="${tradeList.tradeMoney}" style="text-align:left">tradeMoney10.00</span>
	              <span class="pmain-title4 pmain-height" th:text="${tradeList.balance}" style="padding-right: 0px;text-align:left;margin-left: 20px; width: 100px;">10.00</span>
	              <span class="pmain-title2 pmain-height"  th:switch="${tradeList.orderStates}" style="width: 70px; margin-left: 10px;">
	              <p th:case="'0'">未完成</p>
	              <p th:case="'1'">已完成</p>
	              <p th:case="'2'">已失败</p></span>
              </li>
            </ul>
            
            <div>
            	<table>
            		<tfoot>
				<tr height='30px'>
					<td colspan='8' align='center'>
						<ul class="pagination" >
							<!-- 当前页为第一页时,首页和上一页按钮禁用 -->
								<li class="disabled" th:if="${pageInfo.isFirstPage}"><a href="#">首页</a></li>
								<li class="disabled" th:if="${pageInfo.isFirstPage}"><a href="#">上一页</a></li>
								<li th:unless="${pageInfo.isFirstPage}"><a href="javascript:void(0);" class="pages" th:data="1">首页</a></li>
								<li th:unless="${pageInfo.isFirstPage}"><a href="javascript:void(0);" class="pages" th:data="${pageInfo.prePage}">上一页</a></li>
							
							 <th:block th:each="nav : ${pageInfo.navigatepageNums}">
					            <!--如果是当前页，class属性为curPage，且无法跳转-->
					            <li th:if="${nav==pageInfo.pageNum}" class="curPage"><a href="javascript:void(0)" th:text="${nav}"></a></li>
					            <li th:if="${nav!=pageInfo.pageNum}" ><a href="javascript:void(0);" th:text="${nav}" class="pages" th:data="${nav}"></a></li>
					        </th:block>
        						<!-- 当前页为最后一页时,下一页和最后一页按钮禁用 -->
								<li class="disabled"  th:if="${pageInfo.isLastPage}"><a href="#">下一页</a></li>
								<li class="disabled"  th:if="${pageInfo.isLastPage}"><a href="#">最后一页</a></li>
								<li  th:unless="${pageInfo.isLastPage}"><a href="javascript:void(0);" class="pages" th:data="${pageInfo.nextPage}">下一页</a></li>
								<li  th:unless="${pageInfo.isLastPage}"><a href="javascript:void(0);" class="pages" th:data="${pageInfo.pages}">最后一页</a></li>
						</ul>
					</td>
				</tr>
			</tfoot>
            	</table>
            </div>
            
          </div>
          </span>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</div>
<!--网站底部-->
<div th:replace="common/footpart :: foot"></div>
</body>
</html>
