<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zl.mapper.AuthMapper">
	<!-- 实名认证验证 -->
	<select id="queryMan" resultType="int">
		select count(0) from auth where realName = #{realName} and idCard = #{idCard}
	</select>
</mapper>
