<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册</title>

<link href="asserts/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
<script type="text/javascript"
	th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/all.js}"></script>
<script type="text/javascript" th:src="@{/script/common.js}"></script>
<script type="text/javascript" th:src="@{/script/user.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery-validation/jquery.validate.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery-validation/localization/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery.form.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/uploadify/jquery.uploadify.js}"></script>

<style type="text/css">
#realAuthForm input, #realAuthForm select {
	width: 260px;
}

.idCardItem {
	width: 160px;
	height: 150px;
	float: left;
	margin-right: 10px;
	border: 1px solid #e3e3e3;
	text-align: center;
	padding: 5px;
}

.uploadImg {
	width: 120px;
	height: 100px;
	margin-top: 5px;
}

.swfupload {
	left: 0px;
	cursor: pointer;
}

.uploadify {
	height: 20px;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	background-color: #337ab7;
	border-color: #2e6da4;
	color: #fff;
}

#viewExample {
	position: relative;
	left: 50px;
	top: 60px;
}

.uploadExample {
	width: 200px;
	height: 130px;
	margin-bottom: 20px;
}
</style>
</head>
<body>
	<div class="gy_box">
		<!-- header start -->
		<div id="gy_top_wper">
			<div class="gy_top px1000 clearfix">
				<div class="gy_top_l fl">
					<img src="images/service_pic.png" alt=""><span
						style="color: #999999; padding-left: 10px;">在线客服:</span><img
						style="padding-left: 10px;" src="images/service_photo.png" alt=""><span
						style="color: #5DB9E9; padding-left: 10px;">客服热线：400-660-8612</span>
				</div>
				<div class="gy_top_r fr clearfix">
					<a href="">登录</a><span>|</span> <a href="">注册</a><span>|</span> <a
						href="">新手指导</a><span>|</span> <a href="">帮助</a>
				</div>
			</div>
		</div>
		<!-- end top -->

		<div id="gy_nav_wper">
			<div class="gy_nav px1000 clearfix">
				<div class="gy_nav_l fl">
					<img src="images/gy_logo.png" alt="">
				</div>
				<ul class="gy_nav_c fr clearfix">
					<li class="gy_nav_c_ts" style="z-index: 1000;"><a href="">
							我要投资</a>
						<ul class="gycf_perinfo">
							<div class="gy_nav_c_cp">
								<img src="images/gy_down_cpr.png">
							</div>
							<div class="gycf_perinfo_pic">
								<img src="images/gy_cp_footer_wper_xiala_bor.png">
							</div>
							<li><a href="">PPP信投</a></li>
							<li><a href="">政府（存量）债</a></li>
							<li><a href="">新手专享</a></li>
							<li><a href="">新手专享</a></li>
						</ul></li>
					<li><a href="">产品特色</a></li>
					<li><a href="">活动专区</a></li>
					<li><a href="">业务模式</a></li>
					<li><a href="">安全保障</a></li>
					<li><a href="">关于我们</a></li>
				</ul>
			</div>
		</div>
		<!-- header end -->
		<div id="gy_step">
			<div class="gy_step_main px1000 clearfix">
				<div class="gy_step_main_p fl">
					<p class="gy_step_proe1">1</p>
					<p style="color: #29A7E1; padding-top: 10px;">填写企业邮箱</p>
				</div>
				<div class="list_press_wper fl">
					<div class="list_press"></div>
				</div>
				<div class="gy_step_main_p fl">
					<p class="gy_step_proe1">2</p>
					<p style="color: #29A7E1; padding-top: 10px;">企业信息提交</p>
				</div>
				<div class="list_press_wper fl">
					<div class="list_press"></div>
				</div>
				<div class="gy_step_main_p fl">
					<p class="gy_step_proe3">3</p>
					<p style="padding-top: 10px;">注册成功</p>
				</div>
			</div>
		</div>

		<div id="form_main" class="px1000 clearfix">
			<div class="form_main_grjg_xx">
				<a href="/register.html"><span id="form_main_jg">个人注册</span></a> <span
					id="form_main_gr">机构注册</span>
			</div>
			<form id="enterpriseRegisterForm" action="enterpriseRegister" method="post">
			<div>
				<div id="login2" class="left_form fl">
					<!-- style="display: none;" -->
					
						<div class="form_lb clearfix">
							<lable>登录密码:</lable>
							<input id="loginPwd" name="loginPwd" type="password" class="form-control1" value=""
								>
						</div>
						<div class="form_lb">
							<lable>确认密码:</lable>
							<input id="reloginPwd" name="reloginPwd" type="password" class="form-control1 " value=""
								>
						</div>
						<div class="form_lb clearfix">
							<lable>支付密码:</lable>
							<input id="payPwd" name="payPwd" type="password" class="form-control1" value=""
								>
						</div>
						<div class="form_lb">
							<lable>确认密码:</lable>
							<input id="repayPwd" name="repayPwd" type="password" class="form-control1 " value=""
								>
						</div>

						<div class="form_lb_name">
							<lable>法人姓名:</lable>
							<input id="corporationsName" name="corporationsName" type="text" class="form_control_name" value=""
								"> <input
								type="radio" value="MAN" name="SEX">先生 <input
								type="radio" value="WEMAN" name="SEX">女士
						</div>
						<div class="form_lb">
							<lable>身份证号:</lable>
							<input id="corporationsCardId" type="text" name="cardId" class="form-control1" value=""
								>
						</div>
						<div class="form_lb">
							<lable>担任职位:</lable>
							<input type="text" id="job" name="job" class="form-control1" value=""
								>
						</div>
						<div class="form_lb">
							<lable>联系方式:</lable>
							<input id="corporationsTel" name="corporationsTel" type="text" class="form-control1" value=""
								>
						</div>

						<div class="form-group">
							<!-- col-sm-4 -->
							<label class="control-label" for="address">身份证照片</label>
							<div class="">
								<p class="text-help text-primary">请点击“选择图片”,选择证件的正反两面照片。</p>
								<div class="idCardItem">
									<div>
										<a href="javascript:;" id="uploadBtn1">上传正面</a>
									</div>
									<img alt="" src="" class="uploadImg" id="uploadImg1" /> <input
										type="hidden" name="image1" id="uploadImage1" />
								</div>
								<div class="idCardItem">
									<div>
										<a href="javascript:;" id="uploadBtn2">上传反面</a>
									</div>
									<img alt="" src="" class="uploadImg" id="uploadImg2" /> <input
										type="hidden" name="image2" id="uploadImage2" />
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
				</div>
				<div id="login3" class="left_form fl" style="padding-left: 60px;">

					<div class="form_lb" style="width: 500px;">
						<lable>机构名:</lable>
						<input id="businessName" name="businessName" type="text" class="form-control1" value=""
							>
					</div>
					<div class="form_lb" style="width: 500px;">
						<lable>社会信用代码:</lable>
						<input id="businessCode" name="businessCode" type="text" class="form-control1" value=""
							>
					</div>
					<div class="form_lb" style="width: 500px;">
						<lable>机构类型:</lable>
						<select name="businessType" id="select_k2" class="xla_k">
							<option value="1" selected="selected">国营企业</option>
							<option value="2">集体所有制</option>
							<option value="3">私营企业</option>
							<option value="4">股份制企业</option>
						</select>
					</div>
					<div class="form_lb" style="width: 500px;">
						<lable>注册资本:</lable>
						<input id="registerMoney" name="registerMoney" type="number" class="form-control1" value=""
							>
					</div>
					<div class="form_lb" style="width: 500px;">
						<lable>办公所在地:</lable>
						<select name="provincial" id="provincial" class="form_lb_diqu">
							<option th:each="provincial : ${provincialList}"
								th:value="${provincial.provincialName}"
								th:text="${provincial.provincialName}"></option>
						</select><span style="margin: auto 5px; color: #808080;">省</span> <select
							name="city" id="city" class="form_lb_diqu">
							<option value="北京">北京</option>
						</select><span style="margin: auto 5px; color: #808080;">市</span>
					</div>
					<div class="form_lb" style="width: 500px;">
						<lable>联系方式:</lable>
						<input id="tel" type="text" name="tel" class="form-control1" value=""
							>
					</div>
					<div class="form_lb" style="width: 500px;">
						<lable>反洗钱风险等级:</lable>
						<select name="registerStates" id="select_k1" class="xla_k">
							<option value="1">AAA</option>
							<option value="2">AA</option>
							<option value="3">A</option>
							<option value="4">BBB</option>
							<option value="5">BB</option>
							<option value="6">B</option>
							<option value="7">CCC</option>
							<option value="8">CC</option>
							<option value="9">C</option>
							<option value="10">D</option>
							<option value="11" selected="selected">E</option>
						</select>
					</div>
					<div class="form_lb" style="width: 500px;">
						<lable>银行卡绑定:</lable>
						<input id="bankCardId" name="bankCardId" type="text" class="form-control1" value=""
							>
					</div>
					<div class="form-group">
						<!-- col-sm-4 -->
						<label class="control-label" for="address">资格证书和营业执照</label>
						<div class="">
							<p class="text-help text-primary">请点击“选择图片”,选择证件照片。</p>
							<div class="idCardItem">
								<div>
									<a href="javascript:;" id="uploadBtn3">上传资格证书</a>
								</div>
								<img alt="" src="" class="uploadImg" id="uploadImg3" /> <input
									type="hidden" name="license" id="license" />
							</div>
							<div class="idCardItem">
								<div>
									<a href="javascript:;" id="uploadBtn4">上传营业执照</a>
								</div>
								<img alt="" src="" class="uploadImg" id="uploadImg4" /> <input
									type="hidden" name="qualification" id="qualification" />
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

					<div class="form_lb cheb_yes">
						<input type="checkbox" name="" value="" /> <span>我已阅读并同意ppp在线的<a
							href=""><span style="color: #29A7E1;">《服务条款》</span></a>
						</span>
					</div>
					<div class="form_lb">
							<button type="submit" class="btn btn-info btn-lg"
								style="width: 300px;">注册</button>
						</div>
				</div>
			</div>
			</form>
		</div>





		<div id="gy_guide_help">
			<div class="px1000 clearfix">
				<div class="fl gy_guide_help_l">
					<a href=""><img src="images/gy_guide_help_zl.png"></a>
				</div>
				<div class="fl gy_guide_help_r">
					<img src="images/gy_guide_help_zlxx.png">
				</div>
			</div>
		</div>

		<div id="gy_guide_about_us">
			<div class="px1000 clearfix">
				<div class="gy_guide_aus_left fl">
					<div class="gy_guide_aus_block fl">
						<p class="gy_guide_aus_ccp">
							<b>关于我们</b>
						</p>
						<ul>
							<li><a href="">荣誉奖项</a></li>
							<li><a href="">发展历程</a></li>
							<li><a href="">招贤纳士</a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</div>
					<div class="gy_guide_aus_block fl">
						<p class="gy_guide_aus_ccp">
							<b>金融资讯</b>
						</p>
						<ul>
							<li><a href="">金融帮助</a></li>
							<li><a href="">行业资讯</a></li>
						</ul>
					</div>
					<div class="gy_guide_aus_block fl">
						<p class="gy_guide_aus_ccp">
							<b>业务信息</b>
						</p>
						<ul>
							<li><a href="">我要投资</a></li>
							<li><a href="">我要借款</a></li>
						</ul>
					</div>
					<div class="gy_guide_aus_block fl">
						<p class="gy_guide_aus_ccp">
							<b>帮助中心</b>
						</p>
						<ul>
							<li><a href="">新手指引</a></li>
							<li><a href="">安全保障</a></li>
							<li><a href="">融资借款</a></li>
							<li><a href="">实时财务</a></li>
						</ul>
					</div>
				</div>

				<div class="gy_guide_aus_right fl">
					<div class="fl gy_guide_aus_r_le">
						<div class="gy_guide_aus_r_ewm">
							<img src="images/gy_guide_aus_right_ewm.png">
						</div>
						<div style="padding-left: 20px;">
							<img src="images/gy_guide_aus_right_sys.png">
						</div>
					</div>
					<div class="fl gy_guide_aus_r_re">
						<p class="gy_guide_aus_r_pad" style="font-size: 20px">
							<b>客服热线</b>
						</p>
						<p class="gy_guide_aus_r_pad"
							style="font-size: 24.26px; color: #29a7e1;">400-678-7677</p>
						<p class="gy_guide_aus_r_pad" style="font-size: 14px">(周一至周日
							08:00 - 22:00)</p>
						<p class="gy_guide_aus_r_pad">
							<span> <a href=""><img
									src="images/gy_guide_aus_right_xlwb.png"></a> <a href=""><img
									src="images/gy_guide_aus_right_wx.png"></a> <a href=""><img
									src="images/gy_guide_aus_right_zxkf.png"></a>
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- footer start -->
		<div id="gy_footer_wper">
			<div class="gy_footer_xy px1000 clearfix">
				<div class="gy_footer_xy_picp">
					<img src="images/gy_cp_footer_wper_up01.jpg"> <img
						src="images/gy_cp_footer_wper_up02.png"> <img
						src="images/gy_cp_footer_wper_up03.png"> <img
						src="images/gy_cp_footer_wper_up04.png"> <img
						src="images/gy_cp_footer_wper_up05.png"> <img
						src="images/gy_cp_footer_wper_up06.png">
				</div>
				<div class="gy_footer_xy_fonts">
					<p>©2014 亘元投资 All rights reserved 亘元投资金融有限公司 辽ICP备11046595号-6</p>
				</div>
				<div class="gy_footer_youqlj">
					<div class="fl">友情链接:</div>
					<div class="fl">
						<ul class="gy_footer_youqlj_one">
							<li><a href="">证券之星</a></li>
							<li><a href="">南方财富网</a></li>
							<li><a href="">蚂蚁财经</a></li>
							<li><a href="">卡盟网</a></li>
							<li><a href="" style="color: #5DB0D7">外汇理财</a></li>
							<li><a href="">股市行情</a></li>
							<li><a href="">P2P理财</a></li>
							<li><a href="">白银理财</a></li>
						</ul>
						<br>
						<ul id="unfold_show" class="gy_footer_youqlj_two"
							style="display: none;">
							<li><a href="">证券之星</a></li>
							<li><a href="">南方财富网</a></li>
							<li><a href="">蚂蚁财经</a></li>
							<li><a href="">卡盟网</a></li>
							<li><a href="">外汇理财</a></li>
							<li><a href="">股市行情</a></li>
							<li><a href="">P2P理财</a></li>
							<li><a href="">白银理财</a></li>
						</ul>
						<br>
						<ul id="unfold_show" class="gy_footer_youqlj_three"
							style="display: none;">
							<li><a href="">证券之星</a></li>
							<li><a href="">南方财富网</a></li>
							<li><a href="">蚂蚁财经</a></li>
							<li><a href="">卡盟网</a></li>
							<li><a href="">外汇理财</a></li>
							<li><a href="">股市行情</a></li>
							<li><a href="">P2P理财</a></li>
							<li><a href="">白银理财</a></li>
						</ul>
					</div>
					<div id="unfold" class="fl">
						<span>展开</span> <span><img
							src="images/gy_cp_footer_wper_down_zk.png"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript">
	$(function() {
		
		$("#viewExample")
				.popover(
						{
							html : true,
							content : '正面<img src="/images/upload_source_2.jpg" class="uploadExample"/><br/>反面<img src="/images/upload_source_2_1.jpg" class="uploadExample"/>',
							trigger : "hover",
							placement : "top"
						});
		//Ajax提交表单
		$("#enterpriseRegisterForm").validate({
			rules : {
				loginPwd : {
					required : true,
					rangelength : [ 6, 16 ]
				},
				reloginPwd : {
					required : true,
					equalTo : "#loginPwd"
				},
				payPwd : {
					required : true,
					rangelength : [ 6, 20 ]
				},
				repayPwd : {
					required : true,
					equalTo : "#payPwd"
				},
				//法人姓名
				corporationsName : {
					required : true
				},
				corporationsCardId : {
					required : true,
					rangelength : [ 17,19 ]
				},
				job : {
					required : true,
				},
				corporationsTel : {
					required : true,
				
				},
				businessName: {
					required : true,
				},
				businessCode: {
					required : true,

				},
				registerMoney: {
					required : true,
				},
				tel: {
					required : true,
					rangelength : [ 4, 20 ]
				},
				bankcardId: {
					required : true,
					rangelength : [ 4, 20 ]
				}
			},
			messages : {
				loginPwd : {
					required : "登录密码不能为空",
					rangelength : "密码长度必须在{0}-{1}之间!"
				},
				reloginPwd : {
					required : "请再次输入登录密码",
					equalTo : "两次密码不一致"
				},
				payPwd : {
					required : "支付密码不能为空",
					rangelength : "密码长度必须在{0}-{1}之间!"
				},
				repayPwd : {
					required : "请再次输入支付密码",
					equalTo : "两次密码不一致"
				},
				//法人姓名
				corporationsName : {
					required : "请输入法人姓名"
				},
				corporationsCardId : {
					required : "请输入法人身份证号码",
					rangelength : "非法的证件号码"
				},
				job : {
					required : "请输入法人职位"
				},
				corporationsTel : {
					required : "请输入法人移动号码",

				},
				businessName: {
					required : "请输入公司名称"
				},
				businessCode: {
					required : "请输入社会信用代码",

				},
				registerMoney: {
					required : "请输入企业注册资金"
				},
				tel: {
					required : "请输入企业联系电话",
					rangelength : "号码超长"
				},
				bankcardId: {
					required : "请输入企业银行卡号",
					rangelength : "号码识别异常，请检查后重新输入"
				}
			},
			submitHandler : function(form) {
				$("#enterpriseRegisterForm").ajaxSubmit({
					dataType : "json",
					success : function(data) {
						if (data.success) {
							$.messager.model = {
								ok : {
									text : "关闭",
									classed : 'btn­default'
								},
								cancel : {
									text : "取消",
									classed : 'btn­error'
								}
							};
							$.messager.confirm("提示", "申请提交成功", function() {
								//跳转到登录页面
								location.href = "index";
							});

						} else {
							$.messager.popup("申请提交失败!")
						}
					},
					resetForm : true
				});
			},
			errorClass : "text-danger",
			highlight : function(element) {
				$(element).closest("div.form-group").addClass("has-error");
			},
			unhighlight : function(element) {
				$(element).closest("div.form-group").removeClass("has-error");
			}
		});
		//上传正面  (需要配置文件上传相关信息 导入fileupload包)
		$("#uploadBtn1").uploadify({
			auto : true, //自动上传
			buttonText : "上传身份证正面",
			fileObjName : "file", //上传的文件的属性的名字
			fileTypeDesc : "选择身份证正面",
			fileTypeExts : "*.gif; *.jpg; *.png",
			multi : false, //是否可以多选上传
			//指定uploadify的那个falsh文件的位置
			swf : "/js/plugins/uploadify/uploadify.swf",
			//后台用来处理上传文件的地址;
			uploader : "picupload",
			//覆盖默认的效果
			overrideEvents : [ 'onUploadSuccess', 'onSelect' ],
			//上传成功之后回显 
			onUploadSuccess : function(file, data, response) {
				$("#uploadImg1").attr("src", data);
				$("#uploadImage1").val(data);
			}
		});
		//上传反面
		$("#uploadBtn2").uploadify({
			auto : true, //自动上传
			buttonText : "上传身份证反面",
			fileObjName : "file", //上传的文件的属性的名字
			fileTypeDesc : "选择身份证反面",
			fileTypeExts : "*.gif;*.jpg;*.png",
			multi : false, //是否可以多选上传
			//指定uploadify的那个falsh文件的位置
			swf : "/js/plugins/uploadify/uploadify.swf",
			//后台用来处理上传文件的地址;
			uploader : "picupload",
			//覆盖默认的效果
			overrideEvents : [ 'onUploadSuccess', 'onSelect' ],
			//上传成功之后回显 
			onUploadSuccess : function(file, data, response) {
				$("#uploadImg2").attr("src", data);
				$("#uploadImage2").val(data);
			}
		});
		//上传资格证书
		$("#uploadBtn3").uploadify({
			auto : true, //自动上传
			buttonText : "上传资格证书",
			fileObjName : "file", //上传的文件的属性的名字
			fileTypeDesc : "选择资格证书",
			fileTypeExts : "*.gif;*.jpg;*.png",
			multi : false, //是否可以多选上传
			//指定uploadify的那个falsh文件的位置
			swf : "/js/plugins/uploadify/uploadify.swf",
			//后台用来处理上传文件的地址;
			uploader : "picupload",
			//覆盖默认的效果
			overrideEvents : [ 'onUploadSuccess', 'onSelect' ],
			//上传成功之后回显 
			onUploadSuccess : function(file, data, response) {
				$("#uploadImg3").attr("src", data);
				$("#license").val(data);
			}
		});
		//上传营业执照
		$("#uploadBtn4").uploadify({
			auto : true, //自动上传
			buttonText : "上传营业执照",
			fileObjName : "file", //上传的文件的属性的名字
			fileTypeDesc : "选择营业执照",
			fileTypeExts : "*.gif;*.jpg;*.png",
			multi : false, //是否可以多选上传
			//指定uploadify的那个falsh文件的位置
			swf : "/js/plugins/uploadify/uploadify.swf",
			//后台用来处理上传文件的地址;
			uploader : "picupload",
			//覆盖默认的效果
			overrideEvents : [ 'onUploadSuccess', 'onSelect' ],
			//上传成功之后回显 
			onUploadSuccess : function(file, data, response) {
				$("#uploadImg4").attr("src", data);
				$("#qualification").val(data);
			}
		});
		$("#provincial").change(function(){
			var p = $("#provincial").val();
				$.ajax({
					url:"querycitybypid",
					data:"pname="+p,
					DataType:"json",
					type:"post",
					success:function(rs){
						$("#city").empty();
						$(rs).each(function(index,ele){
							$("#city").append("<OPTION value="+$(rs)[index].cityName+">"+$(rs)[index].cityName+"</OPTION>");
						})
					}
				});
			});	
	});
</script>
</html>
