<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>橘子后台管理</title>

<link rel="stylesheet" type="text/css"
	th:href="@{admin/layui/css/layui.css}" />

<script type="text/javascript"
	th:src="@{/webjars/jquery/2.2.0/jquery.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{admin/css/admin.css}" />

<script type="text/javascript" th:src="@{admin/layui/layui.js}"></script>

<script type="text/javascript" th:src="@{admin/js/main.js}"></script>

<link rel="stylesheet"
	th:href="@{/js/bootstrap-3.3.2-dist/css/bootstrap.css}" type="text/css" />

<script type="text/javascript" th:src="@{/js/jquery/jquery-2.1.3.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap-3.3.2-dist/js/bootstrap.js}"></script>

 <style>
#xxx {
	position: relative;
	left: 1150px;
	bottom: 20px;
}
</style>


</head>



<body>
	<div class="main-layout-side">
		<div class="m-logo"></div>
		<ul class="layui-nav layui-nav-tree" lay-filter="leftNav">
			<li class="layui-nav-item "><a href="javascript:;"><i
					class="iconfont">&#xe607;</i>用户管理</a>
				<dl class="layui-nav-child">
					<dd>
						<!-- th:replace="common/headpart :: top" -->
						<a href="menu3" data-id='1' data-text="查看用户"><span
							class="l-line"></span>查看用户</a>
					</dd>
					<dd>
						<a href="" data-id='2' data-text="修改用户"><span class="l-line"></span>修改用户</a>
					</dd>
				</dl></li>
			<li class="layui-nav-item layui-nav-itemed"><a
				href="javascript:;"><i class="iconfont">&#xe608;</i>企业管理</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="qiye" data-url="article-list.html" data-id='3'
							data-text="未审核企业 " style="color: #c2c2c2;"><span
							class="l-line"></span>未审核企业</a>
					</dd>
					<dd>
						<a href="javascript:;" data-url="danye-list.html" data-id='9'
							data-text="审核企业" style="color: #00b5f9;"><span class="l-line"></span>审核企业</a>
					</dd>
				</dl></li>


			<li class="layui-nav-item"><a href="javascript:;"><i
					class="iconfont">&#xe608;</i>产品管理</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="menu-add3" data-url="article-list.html" data-id='3'
							data-text="未审核产品"><span class="l-line"></span>未审核产品</a>
					</dd>
					<dd>
						<a href="javascript:;" data-url="danye-list.html" data-id='9'
							data-text="审核产品"><span class="l-line"></span>审核产品</a>
					</dd>
				</dl></li>


			<li class="layui-nav-item"><a href="email-write"><i
					class="iconfont">&#xe60a;</i>公告设置</a></li>
			<li class="layui-nav-item"><a href="admin-info"
				data-url="admin-info.html" data-id='5' data-text="个人信息"><i
					class="iconfont">&#xe606;</i>个人信息</a></li>
			<!-- <li class="layui-nav-item"><a href="javascript:;"
				data-url="system.html" data-id='6' data-text="系统设置"><i
					class="iconfont">&#xe60b;</i>系统设置</a></li> -->
		</ul>
	</div>
	<!--右侧内容-->
	<div class="main-layout-container">
		<!--头部-->
		<div class="main-layout-header">
			<div class="menu-btn" id="hideBtn">
				<a href="javascript:;"> <span class="iconfont">&#xe60e;</span>
				</a>
			</div>
			<ul class="layui-nav" lay-filter="rightNav">
				<li class="layui-nav-item"><a href="javascript:;"
					data-url="email.html" data-id='4' data-text="邮件系统"><i
						class="iconfont">&#xe603;</i></a></li>


				<li class="layui-nav-item"
					th:if="${session.controller.jurisdiction==1}"><a
					href="javascript:;" data-url="admin-info.html" data-id='5'
					data-text="个人信息">一级管理员</a></li>
				<li class="layui-nav-item"
					th:if="${session.controller.jurisdiction==2}"><a
					href="javascript:;" data-url="admin-info.html" data-id='5'
					data-text="个人信息">二级管理员</a></li>
				<li class="layui-nav-item"
					th:if="${session.controller.jurisdiction==3}"><a
					href="javascript:;" data-url="admin-info.html" data-id='5'
					data-text="个人信息">三级管理员</a></li>


				<li class="layui-nav-item"><a href="login">退出</a></li>
			</ul>
		</div>
		<!--主体内容-->
		<div class="main-layout-body">
			<!--tab 切换-->
			<div class=" layui-tab-brief" lay-allowclose="true" lay-filter="tab">
				<ul class="layui-tab-title"
					style="margin-bottom: 0px; border-bottom-width: 0px;">
					<li class="layui-this welcome">企业详情信息</li>
				</ul>
				<div class="layui-tab-content" style="padding-top: 0px;">
					<div class="layui-tab-item layui-show" style="background: #f5f5f5;">
						<!-- Modal -->
						<div>
							<table class="table table-hover">
								<tbody>
									<tr>
										<td style="padding-top: 12px;">企业ID</td>
										<td style="width: 206px; padding-left: 0px;"><input
											class="form-control" id="exampleInputName2" type="text"
											th:value="${session.pageInfo4.businessId}"></td>
										<td
											style="padding-top: 13px; width: 103px; padding-right: 0px; padding-left: 15px;">企业分类</td>
										<td th:if="${session.pageInfo4.businessType==1}"><input
											class="form-control" id="exampleInputName2" type="text"
											style="width: 259px; margin-right: 0px;" th:value="国有企业 "></td>
										<td th:if="${session.pageInfo4.businessType==2}"><input
											class="form-control" id="exampleInputName2" type="text"
											style="width: 259px; margin-right: 0px;" th:value="集体所有制 "></td>
										<td th:if="${session.pageInfo4.businessType==3}"><input
											class="form-control" id="exampleInputName2" type="text"
											style="width: 259px; margin-right: 0px;" th:value="私营企业 "></td>
										<td th:if="${session.pageInfo4.businessType==4}"><input
											class="form-control" id="exampleInputName2" type="text"
											style="width: 259px; margin-right: 0px;" th:value="股份制企业 "></td>





										<td style="padding-top: 12px; width: 86px;">企业名称</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo4.businessName}"></td>
										<td style="padding-top: 12px; width: 113px;">社会信用代码</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo4.businessCode}"></td>
									</tr>
									<tr>
										<td style="padding-top: 12px;">注册资本</td>
										<td style="padding-left: 0px;"><input
											class="form-control" id="exampleInputName2"
											style="width: 198px;" type="text"
											th:value="${session.pageInfo4.registerMoney}"></td>
										<td
											style="padding-top: 12px; padding-left: 15px; padding-right: 0px;">风险等级</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" style="width: 259px;"
											th:value="${session.pageInfo4.registerStates}"></td>
										<td style="padding-top: 12px;">企业地址</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo4.address}"></td>
										<td style="padding-top: 12px; width: 103px;">企业电话</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo4.tel}"></td>
									</tr>
									<tr>
										<td style="padding-top: 12px;">法人姓名</td>
										<td style="padding-left: 0px;"><input
											class="form-control" id="exampleInputName2"
											style="width: 198px;" type="text"
											th:value="${session.pageInfo4.corporationsName}"></td>
										<td
											style="padding-top: 12px; padding-left: 15px; padding-right: 0px;">证件类型</td>
										<td th:if="${session.pageInfo4.cardType==0}"><input
											class="form-control" id="exampleInputName2" type="text"
											style="width: 259px;" th:value="身份证"></td>
										<td th:if="${session.pageInfo4.cardType==1}"><input
											class="form-control" id="exampleInputName2" type="text"
											style="width: 259px;" th:value="护照"></td>

										<td th:if="${session.pageInfo4.cardType==2}"><input
											class="form-control" id="exampleInputName2" type="text"
											style="width: 259px;" th:value="驾驶证"></td>






										<td style="padding-top: 12px;">证件号码</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo4.cardId}"></td>
										<td style="padding-top: 12px;">现居地</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo4.liveAddress}"></td>
									</tr>
									<tr>
										<td style="padding-top: 12px;">法人联系方式</td>
										<td style="padding-left: 0px;"><input
											class="form-control" id="exampleInputName2"
											style="width: 198px;" type="text"
											th:value="${session.pageInfo4.corporationsTel}"></td>
										<td
											style="padding-top: 12px; padding-left: 15px; padding-right: 0px;">职位</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" style="width: 259px;"
											th:value="${session.pageInfo4.job}"></td>

										<td style="padding-top: 12px;">审核状态</td>
										<td th:if="${session.pageInfo4.checkFlag==1}"><input
											class="form-control" id="exampleInputName2" type="text"
											th:value="一级审核"></td>
										<td th:if="${session.pageInfo4.checkFlag==2}"><input
											class="form-control" id="exampleInputName2" type="text"
											th:value="二级审核"></td>
										<td th:if="${session.pageInfo4.checkFlag==3}"><input
											class="form-control" id="exampleInputName2" type="text"
											th:value="三级审核"></td>
										<td th:if="${session.pageInfo4.checkFlag==4}"><input
											class="form-control" id="exampleInputName2" type="text"
											th:value="审核失败"></td>
										<td th:if="${session.pageInfo4.checkFlag==5}"><input
											class="form-control" id="exampleInputName2" type="text"
											th:value="审核通过"></td>
										<td th:if="${session.pageInfo4.checkFlag==6}"><input
											class="form-control" id="exampleInputName2" type="text"
											th:value="冻结"></td>
										<td th:if="${session.pageInfo4.checkFlag==7}"><input
											class="form-control" id="exampleInputName2" type="text"
											th:value="注销"></td>
										<td th:if="${session.pageInfo4.checkFlag==8}"><input
											class="form-control" id="exampleInputName2" type="text"
											th:value="删除"></td>




										<td style="padding-top: 12px;">提交时间</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text"
											th:value="${#dates.format(session.pageInfo4.addDate,'yyyy-MM-dd')}"></td>
									</tr>
									<tr>
										<td style="padding-top: 12px;">更新时间</td>
										<td style="padding-left: 0px;"><input
											class="form-control" id="exampleInputName2"
											style="width: 198px;" type="text" th:value="${#dates.format(session.pageInfo4.updateDate,'yyyy-MM-dd')}"></td>
										<td></td>	
										<td></td>
										<td></td><td></td><td></td><td></td>
									</tr>
											<div id="xxx">
												<a th:href="qiye"><button class="btn btn-default"
														data-dismiss="modal" type="button">关闭</button></a> <a
													th:href="@{/pass(passid=${session.pageInfo4.businessId},state=${session.pageInfo4.checkFlag})}">
													<button type="button" class="btn btn-success">审核通过</button>
												</a> <a
													th:href="@{/Refuse(Refuseid=${session.pageInfo4.businessId},state=${session.pageInfo4.checkFlag})}">
													<button type="button" class="btn btn-warning">审核拒绝</button>
												</a>
											</div>
										
									


									<tr>
										<td colspan="2">营业执照:</td>
										<td colspan="2">资格证书:</td>
										<td colspan="2">法人证件正面:</td>
										<td colspan="2">法人证件反面:</td>
									</tr>
									<tr>
										<td colspan="2" rowspan="2"><img alt="Responsive image"
											class="img-responsive"
											src="/upload/025ec1a6-0cdd-417b-97a6-c62a2fd27642.jpg"></td>
										<td colspan="2" rowspan="2"><img alt="Responsive image"
											class="img-responsive" src="/upload/12d33059-0b94-4483-81bf-6e10e456632c.jpg"></td>
										<td colspan="2" rowspan="2"><img alt="Responsive image"
											class="img-responsive"
											src="/upload/03b1e129-e6d3-4c51-9020-7b6d7129c0d7.jpg"></td>
										<td colspan="2" rowspan="2"><img alt="Responsive image"
											class="img-responsive" src="/upload/18f06fab-7d54-4c4f-ba13-94c04fd9969b.jpg"></td>
									</tr>

								</tbody>
							</table>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
