<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>橘子后台管理</title>

<link rel="stylesheet" type="text/css"
	th:href="@{admin/layui/css/layui.css}" />

<script type="text/javascript"
	th:src="@{/webjars/jquery/2.2.0/jquery.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{admin/css/admin.css}" />

<script type="text/javascript" th:src="@{admin/layui/layui.js}"></script>

<script type="text/javascript" th:src="@{admin/js/main.js}"></script>

<link rel="stylesheet"
	th:href="@{/js/bootstrap-3.3.2-dist/css/bootstrap.css}" type="text/css" />

<script type="text/javascript" th:src="@{/js/jquery/jquery-2.1.3.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap-3.3.2-dist/js/bootstrap.js}"></script>

<style>
#xxx {
	position: relative;
	left: 750px;
	top: 350px;
}
</style>


</head>



<body>
	<div class="main-layout-side">
		<div class="m-logo"></div>
		<ul class="layui-nav layui-nav-tree" lay-filter="leftNav">
			<li class="layui-nav-item layui-nav-itemed"><a
				href="javascript:;"><i class="iconfont">&#xe607;</i>用户管理</a>
				<dl class="layui-nav-child">
					<dd>
						<!-- th:replace="common/headpart :: top" -->
						<a href="menu3" data-id='1' data-text="查看用户"><span
							class="l-line"></span>查看用户</a>
					</dd>
					<dd>
						<a href="" data-id='2' data-text="修改用户" style="color: #00b5f9;"><span
							class="l-line"></span>修改用户</a>
					</dd>
				</dl></li>
			<li class="layui-nav-item "><a href="javascript:;"><i
					class="iconfont">&#xe608;</i>企业管理</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="qiye" data-url="article-list.html" data-id='3'
							data-text="未审核企业"><span class="l-line"></span>未审核企业</a>
					</dd>
					<dd>
						<a href="javascript:;" data-url="danye-list.html" data-id='9'
							data-text="审核企业"><span class="l-line"></span>审核企业</a>
					</dd>
				</dl></li>


			<li class="layui-nav-item"><a href="javascript:;"><i
					class="iconfont">&#xe608;</i>产品管理</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="menu-add3" data-url="article-list.html" data-id='3'
							data-text="产品管理"><span class="l-line"></span>产品审核</a>
					</dd>
					<dd>
						<a href="javascript:;" data-url="danye-list.html" data-id='9'
							data-text="审核产品"><span class="l-line"></span>审核产品</a>
					</dd>
				</dl></li>


			<li class="layui-nav-item"><a href="email-write"><i
					class="iconfont">&#xe60a;</i>公告设置</a></li>
			<li class="layui-nav-item"><a href="admin-info"
				data-url="admin-info.html" data-id='5' data-text="个人信息"><i
					class="iconfont">&#xe606;</i>个人信息</a></li>
			<!-- <li class="layui-nav-item"><a href="javascript:;"
				data-url="system.html" data-id='6' data-text="系统设置"><i
					class="iconfont">&#xe60b;</i>系统设置</a></li> -->
		</ul>
	</div>
	<!--右侧内容-->
	<div class="main-layout-container">
		<!--头部-->
		<div class="main-layout-header">
			<div class="menu-btn" id="hideBtn">
				<a href="javascript:;"> <span class="iconfont">&#xe60e;</span>
				</a>
			</div>
			<ul class="layui-nav" lay-filter="rightNav">
				<li class="layui-nav-item"><a href="javascript:;"
					data-url="email.html" data-id='4' data-text="邮件系统"><i
						class="iconfont">&#xe603;</i></a></li>


				<li class="layui-nav-item"
					th:if="${session.controller.jurisdiction==1}"><a
					href="javascript:;" data-url="admin-info.html" data-id='5'
					data-text="个人信息">一级管理员</a></li>
				<li class="layui-nav-item"
					th:if="${session.controller.jurisdiction==2}"><a
					href="javascript:;" data-url="admin-info.html" data-id='5'
					data-text="个人信息">二级管理员</a></li>
				<li class="layui-nav-item"
					th:if="${session.controller.jurisdiction==3}"><a
					href="javascript:;" data-url="admin-info.html" data-id='5'
					data-text="个人信息">三级管理员</a></li>


				<li class="layui-nav-item"><a href="login">退出</a></li>
			</ul>
		</div>
		<!--主体内容-->
		<div class="main-layout-body">
			<!--tab 切换-->
			<div class="layui-tab layui-tab-brief main-layout-tab"
				lay-filter="tab" lay-allowClose="true">
				<ul class="layui-tab-title">
					<li class="layui-this welcome">修改用户</li>
				</ul>
				<div class="layui-tab-content" style="padding-top: 0px;">
					<div class="layui-tab-item layui-show" style="background: #f5f5f5;">
						<!-- Modal -->
						<div>
							<table class="table table-hover">
								<tbody>
									<tr>
										<td style="padding-top: 12px;">用户id</td>
										<td style="width: 206px; padding-left: 0px;"><input
											class="form-control" id="exampleInputName2" type="text"
											th:value="${session.pageInfo6.consumerId}"></td>
										<td
											style="padding-top: 13px; width: 103px; padding-right: 0px; padding-left: 15px;">电话</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" style="width: 259px; margin-right: 0px;"
											th:value="${session.pageInfo6.tel}"></td>
										<td style="padding-top: 12px; width: 86px;">用户真实姓名</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo6.name}"></td>
										<td style="padding-top: 12px; width: 113px;">邮箱</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo6.email}"></td>
									</tr>
									<tr>
										<td style="padding-top: 12px;">身份证号码</td>
										<td style="padding-left: 0px;"><input
											class="form-control" id="exampleInputName2"
											style="width: 198px;" type="text"
											th:value="${session.pageInfo6.idCard}"></td>
										<td
											style="padding-top: 12px; padding-left: 15px; padding-right: 0px;">认证状态</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" style="width: 259px;"
											th:value="${session.pageInfo6.bitState}"></td>
										<td style="padding-top: 12px;">投资风格</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo6.style}"></td>
										<td style="padding-top: 12px; width: 103px;">MD5加密的六位支付密码</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo6.password}"></td>
									</tr>
									<tr>
										<td style="padding-top: 12px;">账户总资产</td>
										<td style="padding-left: 0px;"><input
											class="form-control" id="exampleInputName2"
											style="width: 198px;" type="text"
											th:value="${session.pageInfo6.sumMoney}"></td>
										<td
											style="padding-top: 12px; padding-left: 15px; padding-right: 0px;">余额</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" style="width: 259px;"
											th:value="${session.pageInfo6.balance}"></td>
										<td style="padding-top: 12px;">已用金额</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo6.usedMoney}"></td>
										<td style="padding-top: 12px;">用户现住址</td>
										<td><input class="form-control" id="exampleInputName2"
											type="text" th:value="${session.pageInfo6.address}"></td>
									</tr>
									<tr>
										<td style="padding-top: 12px;">用户性别</td>
										<td style="padding-left: 0px;"><input
											class="form-control" id="exampleInputName2"
											style="width: 198px;" type="text"
											th:value="${session.pageInfo6.sex}"></td>
										<td style="padding-top: 12px;">创建时间</td>
										<td th:if="${session.pageInfo6.createTime!=null}"><input
											class="form-control" style="width: 259px;" type="text"
											th:value="${#dates.format(session.pageInfo6.createTime,'yyyy-MM-dd')}"></td>

										<td th:if="${session.pageInfo6.createTime==null}"><input
											class="form-control" type="text" style="width: 259px;"></td>

										<td style="padding-top: 12px;">最后修改时间</td>
										<td th:if="${session.pageInfo6.updateTime!=null}"><input
											class="form-control" type="text"
											th:value="${#dates.format(session.pageInfo6.updateTime,'yyyy-MM-dd')}"></td>

										<td th:if="${session.pageInfo6.updateTime==null}"><input
											class="form-control" type="text" ></td>
											
											
										<td></td>
										<td></td>
									</tr>
									<div id="xxx">
										<a th:href="menu3"><button class="btn btn-default"
												data-dismiss="modal" type="button">关闭</button></a>
										<!-- th:href="@{/pass(passid=${session.pageInfo5.businessId},state=${session.pageInfo5.checkFlag})}" -->
										<a th:href="menu3" >
											<button type="button" class="btn btn-success">修改</button>
										</a>
									</div>

									<tr>
										<td colspan="2">身份证正面照片:</td>
										<td colspan="2">身份证反面照片:</td>
										<td colspan="2"></td>
										<td colspan="2"></td>
									</tr>
									<tr>
										<td colspan="2" rowspan="2"><img alt="Responsive image"
											class="img-responsive"
											src="/upload/025ec1a6-0cdd-417b-97a6-c62a2fd27642.jpg"></td>
										<td colspan="2" rowspan="2"><img alt="Responsive image"
											class="img-responsive"
											src="/upload/12d33059-0b94-4483-81bf-6e10e456632c.jpg"></td>
									<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
